@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <html>
    <head>

    </head>
    <body>
        <div class="form-group">
            <select class="form-control">
                <option value="..."></option>
            </select>
        </div>
        <div class="container">
            <table class="table table-bordered" id="tblUserProjects">
                <tr>
                    <th>Project Id</th>
                    <th>Start Date</th>
                    <th>Time to Start</th>
                    <th>End Date</th>
                    <th>Credits</th>
                    <th>Status</th>
                </tr>
            </table>
        </div>
    </body>
    </html>